
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eat Da Burger!</title>
  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>		
</head>
	<body>
		{{{ body }}}
	</body>
<style type="text/css">

   body {
    background-color: yellow;
    text-align: center;
    color: red;
        }

    h1 {
        font-size: 50px;
    } 




</style>>


</html>